
.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

#inputField {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 15px;
  color: black;
  font-weight: 500;
  outline: none;
  caret-color: rgb(155, 78, 255);
  transition-duration: .3s;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.userIcon {
  position: absolute;
  fill: rgb(155, 78, 255);
  width: 12px;
  top: -23px;
  left: -15px;
  opacity: 0;
  transition: .2s linear;
}

.usernameLabel {
  position: absolute;
  top: -25px;
  left: 5px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
  transition: .2s linear;
  opacity: 0;
}

#inputField:focus ~ .usernameLabel,
#inputField:valid ~ .usernameLabel {
  transform: translateX(20px);
  opacity: 1;
}

#inputField:focus ~ .userIcon,
#inputField:valid ~ .userIcon {
  transform: translateX(20px);
  opacity: 1;
}

#inputField:focus,
#inputField:valid {
  background-color: #ddd;
  transition-duration: .3s;
}

.name{
display: flex;
justify-content: flex-end;
  
padding: 10%;
}

body{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url(../img/plage.gif);
  background-size: cover;
}

.carrousel{
  width: 40%;
  height: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 40%;
  height: 400px;
}

button{
  position: absolute;
  width: 70px;
  cursor: pointer;
  z-index: 20;
  transition: all 0.3s ease;
  padding: 10px;
  background-color: transparent;
  border: 0;
  outline: none;
}

#nextdown{
  left: 0;
  bottom: 0;
  opacity: 0.4;
  transform: rotate(0deg);
  transition: all 0.3s ease;

}

#nextup{
  left: 0;
  opacity: 0.4;
  transform: rotate(0deg);
  transition: all 0.3s ease;

}

#prevup{
  right: 0;
  opacity: 0.4;
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

#prevdown{
  bottom: 0;
  right: 0;
  opacity: 0.4;
  transform: rotate(180deg);
  transition: all 0.3s ease;

}

#nextup:hover{
  transform:rotate(0deg) scale(1.1);
  opacity: 0.8;
  transition: all 0.3s ease;
}

#prevup:hover{
  transform:rotate(180deg) scale(1.1);
  opacity: 0.8;
  transition: all 0.3s ease;
}

#nextdown:hover{
  transform:rotate(0deg) scale(1.1);
  opacity: 0.8;
  transition: all 0.3s ease;
}

#prevdown:hover{
  transform:rotate(180deg) scale(1.1);
  opacity: 0.8;
  transition: all 0.3s ease;
}

.photo{
  margin:0;
  background-size: cover;
  display: inline-block;
  background-size: cover;
}

ion-icon{
  font-size: 64px;
}

.controlle{
  height: 30%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

