@font-face {
    font-family: golanta;
    src: url(../fonts/SF\ Ironsides.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: golanta;
    color: black;
    font-size: 25px;
}

body {
    background:url('../img/plage.gif') no-repeat;
    height:100vh;
    width:100vw;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    position: relative;
    margin: 50px auto;
    width: 200px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #7b7373;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #7b7373;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: black;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
  
  form{
    background-color: rgb(0,0,0,0.5);
    border-radius: 10px;
    padding: 10px;
  }