@font-face {
  font-family: golanta;
  src: url(../fonts/SF\ Ironsides.ttf);
}

*{
  margin: 0;
  padding: 0;
  font-family: golanta;
  color: black;
  font-size: 35px;
  text-decoration: none;
}

body {
  background:url('../img/plage.gif') no-repeat;
  height:100vh;
  width:100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 1em black;
}

header{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  padding: 30px;
}

.cards{
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.search-bar {
    position: relative;
  }
  
  .input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .search-bar svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .input:focus {
    opacity: 1;
    width: 250px;
  }

.icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 400px;
}

.trash{
  
}

.modify{
  
}
  ion-icon{
    font-size: 64px;
  }

a:hover{
  transform: scale(1.1);
}

.container{
  width: 100vw;
  flex-wrap: wrap;
  display: flex;
  overflow: scroll;
  height: 80vh;
}